.top-page
  .application__title 
    OUR ALBUM
  = link_to new_user_session_path, class: "login" do
    .login__link
      ログイン 
  .center-line
    ｜
  = link_to new_user_registration_path, class: "registration" do
    .registration__link
      新規登録をする