// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

.top-page {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  .application__title {
    height: 238px;
    line-height: 238px;
    font-size: 60px;
  }
  .welcome__message {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .logout {
    display: inline-block;
    &__link {
      font-size: 20px;
      color: black;
      text-decoration: none;
    }
  }
  .login {
    &__link {
      .btn__login {
        width: 300px;
        height: 35px;
        line-height: 35px;
        font-size: 20px;
        border: solid 1.2px rgb(252, 119, 119);
        background-color: rgb(255, 223, 223);
        border-radius: 5px;
        font-weight: bold;
        color: black;
        cursor: pointer;
      }
    }
  }
  .registration {
    margin-top: 20px;
    &__link {
      .btn__new__registration {
        width: 300px;
        height: 35px;
        line-height: 35px;
        font-size: 20px;
        border: solid 1.2px rgb(252, 119, 119);
        background-color: rgb(255, 223, 223);
        border-radius: 5px;
        font-weight: bold;
        color: black;
        cursor: pointer;
      }
    }
  }
  .mypage {
    margin-top: 20px;
    &__link {
      font-size: 20px;
      color: red;
      text-decoration: none;
    }
  }
}