.make__album-header {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 35px;
  line-height: 100px;
  font-family: 'Abril Fatface', cursive;
}

.new-album__form {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  border-width: 1px;
  border: solid 1px rgb(204, 204, 204);
  border-radius: 5px;
  .new-album__form__title {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    .title__label {
      font-size: 16px;
      font-weight: bold;
    }
    .required {
      font-size: 12px;
      background-color: red;
      color: #fff;
      padding: 0 4px;
      display: inline-block;
      line-height: 1.4em;
      font-weight: 600;
      border-radius: 2px;
      margin-left: 8px;
    }
  }
  .title__content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    #title {
      width: 50%;
      height: 40px;
      border: solid 1.2px rgb(204, 204, 204);
      background-color: rgb(245, 245, 245);
      font-size: 14px;
    }
  }
  .new-album__form__pictures {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    .pictures__label {
      font-size: 16px;
      font-weight: bold;
    }
    .required {
      font-size: 12px;
      background-color: red;
      color: #fff;
      padding: 0 4px;
      display: inline-block;
      line-height: 1.4em;
      font-weight: 600;
      border-radius: 2px;
      margin-left: 8px;
    }
  }
  .files__content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    #preview {
      display: inline-block;
      margin-top: 10px;
      .js-remove {
        text-align: center;
        cursor: pointer;
        width: 50%;
        margin: 0 auto;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(113, 112, 112);
        background-color: rgb(239, 234, 234);
        font-size: 13px;
      }
    }
    #files__content__form {
      text-align: center;
      height:  150px;
      border-style: dashed;
      border-width: 1px;
      border-color: rgb(204, 204, 204);
      background-color: rgb(245, 245, 245);
      cursor: pointer;
      margin-top: 10px;
      .file__upload {
        cursor: pointer;
        display: none;
      }
      .fa {
        cursor: pointer;
        font-size: 22px;
        margin-bottom: 8px;
        margin-top: 40px;
      }
      .how__to__upload {
        font-size: 12px;
      }
    }
  }
  .new-album__form__date {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    .date__label {
      font-size: 16px;
      font-weight: bold;
    }
    .required {
      font-size: 12px;
      background-color: red;
      color: #fff;
      padding: 0 4px;
      display: inline-block;
      line-height: 1.4em;
      font-weight: 600;
      border-radius: 2px;
      margin-left: 8px;
    }
  }
  .date__content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    #album_date_1i {
      height: 30px;
      background-color: rgb(245, 245, 245);
      border: solid 1.2px rgb(204, 204, 204);
    }
    #album_date_2i {
      height: 30px;
      background-color: rgb(245, 245, 245);
      border: solid 1.2px rgb(204, 204, 204);
    }
    #album_date_3i {
      height: 30px;
      background-color: rgb(245, 245, 245);
      border: solid 1.2px rgb(204, 204, 204);
    }
  }
  .new-album__form__content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    .explanation__label {
      font-size: 16px;
      font-weight: bold;
    }
    .not-required {
      font-size: 12px;
      background-color: rgb(177, 174, 174);
      color: #fff;
      padding: 0 4px;
      display: inline-block;
      line-height: 1.4em;
      font-weight: 600;
      border-radius: 2px;
      margin-left: 8px;
    }
  }
  .explanation__content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    #content {
      width: 100%;
      height: 300px;
      border: solid 1.2px rgb(204, 204, 204);
      background-color: rgb(245, 245, 245);
    }
  }
  .new-album__form__submit {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    .submit__album {
      width: 150px;
      height: 40px;
      border: solid 1.2px rgb(252, 119, 119);
      background-color: rgb(255, 223, 223);
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      &.solid {
        box-shadow: 3px 3px 0 0 black;
        &:hover {
          transform: translate(3px, 3px);
          box-shadow: none;
        }
      }
    }
  }
  .return__group-page {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
    &__link {
      text-decoration: none;
      color: black;
      &:hover {
        color: red;
      }
    }
  }
}

.style__line {
  width: 80%;
  border-top-color: #efefef;
  border-top-style: solid;
  border-bottom: 0 solid;
  margin-top: 20px;
}