.album__detail {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  .album__title {
    font-size: 30px;
  }
  .album__date {
    font-size: 20px;
    margin-top: 10px;
  }
  .album__pictures {
    margin-top: 30px;
    .list {
      display: inline-block;
      &__size {
        width: 250px;
        height: 200px;
      }
    }
  }
  .album__explanation {
    font-size: 20px;
    margin-top: 30px;
    &__content {
      font-size: 18px;
    }
    &__blank {
      font-size: 18px;
    }
  }
}
.album__menu {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  .edit__album {
    height: 50px;
    line-height: 50px;
    &__link {
      text-decoration: none;
      font-size: 16px;
      color: black;
      cursor: pointer;
    }
  }
  .delete__album {
    height: 50px;
    line-height: 50px;
    &__link {
      text-decoration: none;
      font-size: 16px;
      color: black;
      cursor: pointer;
    }
  }
  .return__group-page {
    height: 50px;
    line-height: 50px;
    &__link {
      text-decoration: none;
      font-size: 16px;
      color: black;
      cursor: pointer;
    }
  }
  .partition {
    height: 50px;
    line-height: 50px;
  }
}