.group-page {
  width: 100%;
  text-align: center;
  font-size: 30px;
  height: 100px;
  line-height: 100px;
}

.make__new-album {
  width: 100%;
  height: 50px;
  text-align: center;
  &__link {
    font-size: 18px;
    text-decoration: none;
    color: #fc4d4d;
  }
}

.display__albums-header {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 25px;
}

.display__albums-inner {
  width: 100%;
  text-align: center;
  &__blank {
    font-size: 18px;
  }
}
