.edit__group-header {
  width: 40%;
  margin: 0 auto;
  .edit__group-header__inner {
    width: 400px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
    line-height: 100px;
    font-family: 'Abril Fatface', cursive;
  }
}

.edit-group__form {
  width: 40%;
  height: 100%;
  margin: 0 auto;
  .name__form {
    width: 400px;
    margin: 0 auto;
    .name__label {
      font-weight: bold;
    }
    .edit-group__form__name {
      width: 400px;
      margin: 0 auto;
      .edit-group__name{
        width: 400px;
        border-width: 1px;
        border: solid 1px rgb(204, 204, 204);
        border-radius: 5px;
      }
    }
  }
  .member__label {
    margin-top: 15px;
    font-weight: bold;
  }
  &__submit {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    .edit-group__submit {
      width: 100px;
      text-align: center;
      background-color: #fddddd;
      border-radius: 4px;
      border-style: solid;
      &.solid {
        box-shadow: 3px 3px 0 0 black;
        &:hover {
          transform: translate(3px, 3px);
          box-shadow: none;
        }
      }
    }
  }
  &__link {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    .group-page_link {
      text-decoration: none;
      color: black;
      &:hover {
        color: red;
      }
    }
  }
}